<h1>New Project Creation</h1>

<%= form_for :project, url: projects_path do |form| %>

	Customer: <%= select_tag "customers", options_for_select(@customers.collect {|c| [c['name'], c['id']]}) %>
	Project Name: <%= form.text_field :name %>

	<%= form.submit "Submit" %>

<% end %>